$content-width: 800px;
$main: #fff;
$font-style: Calibri;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: #828282;
$heading-font: Calibri;
$heading-font-color: #425469;
$light: #E7EDF4;
$header: #255C7D;
$footer: #6e6e6e;
$footer-border: #969696;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
} 